/* Add here all your CSS customizations */
.post-image a img{
  width: 300px;
  height: 255px;
}
.post-content h4{
  height: 93px;
}
.breadcrumb.clearfix {
    height: 120px;
    background-color: #ca94bb6b;
}

 .scroll {
    display: block;
    position: fixed;
    width: 100%;
    background-color: transparent;
    -moz-transition: padding 1s ease-in;
    -o-transition: padding 1s ease-in;
    -webkit-transition: padding 1s ease-in;
    transition: padding 1s ease-in;
}

.scroll-list-post.scroll{
  background-color: #c3b6b64a!important;
}
.featured-image a img{
  height: 320px;
  width: 380px;
}
.box-image a img{
  width:570px;
  height:350px;
}
.yellow label-activity{
  background-color: #000000b3;
}
/* .product-image-container a img{
  height: 120px;
  width: 130px;
} */

.product-image-container a img{
  height: 250px;
  width: 250px;
}
